mat-toolbar {
    display: flex;
    justify-content: space-between
}

mat-sidenav {
    width: 200px;
}

.mat-sidenav-container {
    background: #424242;
    flex: 1;
}

mat-icons {
    color: #ffffff;
}

.nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}